/* Standard */

body{
	border:3px solid black;
	margin:auto;
	margin-top: 40px;
	padding:100px;
	width:1700px;
	height:2200px;
	position:relative;
}

h1{
	margin:20px;
	margin-bottom: 0;
	font-family: Arial, sans-serif;
	font-size:50px;
	font-weight: bold;
	border-bottom: 20px double;
}

h2{
	margin:10px;
	padding: 0;
}

/* Clear */

.clr{
	clear:both;
}

/* Contact Info Block */

#contactInfo{
	float:right;
	border: 3px solid black;
	margin:10px;
	margin-right:20px;
	padding:none;
}

#contactInfo ul{
	margin:5px;
	padding:10px;
	list-style: none;
	text-align: right;
	font-family: Cambria;
	font-size: 30px;
}

/* SECTIONS */

.section{
	border: 3px solid black;
	min-height: 80px;
	margin: 20px;
}

/* EXPERIENCE */

#jobs{
	float:left;
	width:50%;
}

#jobs ul{
	list-style: none;
	margin-right:100px;
}

#jobs li{
	font-family: Cambria;
	font-size: 20px;
	text-align: right;
	padding:40px 0px;
}

