/* Standard */

body{
	border:3px solid black;
	margin:auto;
	margin-top: 40px;
	padding:100px;
	width:1700px;
	height:2200px;
	position:relative;
}

h1{
	margin:20px;
	margin-bottom: 0;
	font-family: Arial, sans-serif;
	font-size:50px;
	font-weight: bold;
	border-bottom: 20px double;
}

h2{
	margin:10px;
	padding: 0;
	width:100%;
	font-family:Arial, sans-serif;
	font-size:45px;
	/*border:3px solid black; /*Reference border*/
}

h5{
	font-family: Arial;
	font-size:30px;
	padding:0;
	margin:0;
	margin-left:20px;
}

/* Clear */

.clr{
	clear:both;
}

/* Contact Info Block */

#contactInfo{
	float:right;
	border: 3px solid black;
	margin:10px;
	margin-right:20px;
	padding:none;
}

#contactInfo ul{
	margin:5px;
	padding:10px;
	list-style: none;
	text-align: right;
	font-family: Cambria;
	font-size: 30px;
}

/* SECTIONS */

.section{
	border: 3px solid black;
	min-height: 80px;
	margin: 20px;
	padding: 0;
	position:relative;
}

#SKILLSsection{
	float:left;
	width:65%;
	border: 3px solid black;
	min-height: 80px;
	margin: 20px;
	margin-right: 0;
	margin-top:0px;
	padding: 0;
	position:relative;
}

#ATTINTsection{
	float:right;
	width:32%;
}

#ATTRIBUTESsection{
	position:top;
	border: 3px solid black;
	min-height: 80px;
	margin: 20px;
	margin-left:0;
	margin-top:0px;
	padding: 0;
}

#INTERESTSsection{
	position:bottom;
	min-height: 80px;
	margin: 20px;
	margin-left:0;
	margin-top:0px;
	padding: 0;
	border:3px solid black; /*Reference border*/
}


/* EXPERIENCE */

#jobs{
	float:left;
	width:47.5%;
	/* border:3px solid black; /*Reference border*/
	box-sizing:border-box;
}

#job_descriptions{
	float:right;
	width:47.5%;
	/* border:3px solid black; /*Reference border*/
	box-sizing:border-box;
}

#experienceBar{
	float:center;
	width:5%;
	padding: 50px 19px;
	padding-bottom: 80px;
	/* border:3px solid black; /*Reference border*/
	box-sizing:border-box;
}

/*Jobs list*/

#jobs ul{
	list-style: none;
	margin:0;
	margin-right:100px;
	/* border:3px solid black; /*Reference border*/
}

#jobs li{
	font-family: Cambria;
	font-size: 30px;
	text-align: right;
	padding:68px 0px; /*Spread jobs out*/
}

#jobs li:first-child{
	padding-top:98px; /*Center first job*/
}

/*Job descriptions list*/

#job_descriptions ul{
	list-style: none;
	margin:0;
	margin-left:80px;
	/*border:3px solid black; /*Reference border*/
}

#job_descriptions li{
	font-family: Cambria;
	font-size: 30px;
	text-align: left;
	padding:10px 0px; /*Spread job descriptions out*/
}

#job_descriptions li:first-child{
	padding-top:25px; /*Center first job description*/
}

#experienceBar{
	float:center;
	width:5%;
	padding: 50px 19px;
	padding-bottom: 80px;
	/* border:3px solid black; /*Reference border*/
	box-sizing:border-box;
}

/* EDUCATION */

.section #school{
	float:left;
	font-family: Cambria;
	font-size:30px;
	font-weight: bold;
	padding-left:30px;
	margin:0;
	margin-top:20px;
	/*border:3px solid black; /*Reference border*/
}

.section #time{
	float:left;
	font-family: Cambria;
	font-size:30px;
	font-style: italic;
	color: darkgrey;
	padding-left:30px;
	margin:0;
	margin-top:20px;
	/*border:3px solid black; /*Reference border*/
}

.section #degree{
	margin:0;
	margin-top:15px;
	margin-bottom: 30px;
	font-family: Cambria;
	font-size:30px;
	padding-left:30px;
	/*border:3px solid black; /*Reference border*/
}

/* SKILLS */

#SKILLSsection ul{
	float:left;
	font-family: Cambria;
	font-size: 40px;
	list-style: none;
	margin:0;
	margin-left: 50px;
	text-align:right;
}

#SKILLSsection li{
	padding:15.75px 0px;
}




#skillsLevels{
	float:right;
	width:35%;
	padding:40px;
	padding-top: 23px;
	margin-right:60px;
}

/* ASSETS */

#ATTRIBUTESsection ul{
	margin:10px 40px;
	margin-bottom:30px;
}

#ATTRIBUTESsection li{
	font-family: Cambria;
	font-size: 30px;
}

/* INTERESTS */

#INTERESTSsection ul{
	margin:10px 40px;
	margin-bottom:30px;
}

#INTERESTSsection li{
	font-family: Cambria;
	font-size: 30px;
}