/* Standard */

body{
	/*border:3px solid black;*/
	margin:auto;
	margin-top: 30px;
	padding:50px 100px;
	width:1700px;
	height:2200px;
	position:relative;
}

h1{
	margin:20px;
	margin-bottom: 0;
	font-family: Arial, sans-serif;
	font-size:50px;
	font-weight: bold;
}

h2{
	margin:10px;
	padding: 0;
	width:100%;
	font-family:Arial, sans-serif;
	font-size:45px;
	/*border:3px solid black; /*Reference border*/
}

h5{
	font-family: Arial;
	font-size:30px;
	padding:0;
	margin:0;
	margin-left:20px;
}

/* Clear */

.clr{
	clear:both;
}

/*Introduction*/

#introduction{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* Name and Description Info Block */

#name-desc{
}

#name{
	margin:20px;
	margin-bottom: 0;
	font-family: Arial, sans-serif;
	font-size:70px;
	font-weight: bold;
}

#outline{
	font-size: 20px;
	margin: 20px;
	margin-left: 30px;
}

#desc{
	font-size: 20px;
	margin: 20px;
	margin-left: 30px;
}

/* Contact Info Block */

#contact{
	display: flex;
	flex-direction: column;
	border: none;
	min-height: 80px;
	margin: 20px;
	margin-bottom: 0;
	padding: 0;
}

#contact div{
	display: flex;
	flex-direction: row;
	height: 60px;
}

#house_icon{
	padding-top: 3px;
}

#phone_icon{
	padding-top: 8px;
}

#email_icon{
	padding-top: 10px;
}

#github_icon{
	padding-top: 5px;
}

.contact_icon{
	width: 40px;
}

#contact a{
	margin:auto 10px;
}

.contact_info{
	font-family: Cambria;
	font-size:30px;
	margin:auto 0 auto 0;
	padding:0 30px;
	white-space: nowrap;
}

#double_line{
	margin: 20px;
	width: 97.7%;
	height: 5px;
	border-bottom: double 10px;
}

/* SECTIONS */

.section{
	border: 3px solid black;
	min-height: 60px;
	margin: 20px;
	padding: 0;
	position:relative;
}

#SKILLSsection{
	float:left;
	width:65%;
	height:37%;
	border: 3px solid black;
	min-height: 80px;
	margin: 20px;
	margin-right: 0;
	margin-top:0px;
	padding: 0;
	position:relative;
}

#ATTINTsection{
	float:right;
	width:32%;
	height:37%;
	margin-bottom: 20px;
	box-sizing:border-box;
}

#ATTRIBUTESsection{
	float:top;
	border: 3px solid black;
	min-height: 80px;
	margin: 20px;
	margin-left:0;
	margin-top:0px;
	padding: 0;
	box-sizing:border-box;
}

#INTERESTSsection{
	float:bottom;
	min-height: 80px;
	margin: 0px;
	margin-right: 20px;
	padding: 0;
	border:3px solid black; /*Reference border*/
	box-sizing:border-box;
}


/* EXPERIENCE */

#jobs{
	float:left;
	width:35%;
	/* border:3px solid black; /*Reference border*/
	box-sizing:border-box;
}

#job_descriptions{
	float:left;
	width:55%;
	/* border:3px solid black; /*Reference border*/
	box-sizing:border-box;
}

#experienceBar{
	float:left;
	width:5.1%;
	padding: 13px 19px;
	padding-bottom: 50px;
	/* border:3px solid black; /*Reference border*/
	box-sizing:border-box;
}

/*Jobs list*/

#jobs ul{
	list-style: none;
	margin:0;
	padding:40px 0;
	margin-right:100px;
	/* border:3px solid black; /*Reference border*/
}

#jobs li{
	font-family: Cambria;
	font-size: 30px;
	text-align: right;
	padding:3px 0px; /*Spread jobs out*/
}

#jobs ul:first-child{
	padding-top:20px; /*Center first job*/
}

#jobs li:first-child{
	color:darkgrey;
	font-style: italic; /*Center first job*/
}

#jobs li:nth-child(2){
	font-weight: bold; /*Center first job*/
}

/*Job descriptions list*/

#job_descriptions ul{
	list-style: none;
	margin:0;
	margin-left:100px;
	padding:40px 0;
	/*border:3px solid black; /*Reference border*/
}

#job_descriptions li{
	font-family: Cambria;
	font-size: 30px;
	text-align: left;
	padding:3px 0px; /*Spread job descriptions out*/
}

#job_descriptions ul:first-child{
	padding-top:25px; /*Center first job description*/
}

/* EDUCATION */

.section #school{
	float:left;
	font-family: Cambria;
	font-size:30px;
	font-weight: bold;
	padding-left:50px;
	margin:0;
	margin-top:20px;
	/*border:3px solid black; /*Reference border*/
}

.section #time{
	float:left;
	font-family: Cambria;
	font-size:30px;
	font-style: italic;
	color: darkgrey;
	padding-left:30px;
	margin:0;
	margin-top:20px;
	/*border:3px solid black; /*Reference border*/
}

.section #degree{
	margin:0;
	margin-top:15px;
	margin-bottom: 30px;
	font-family: Cambria;
	font-size:30px;
	padding-left:120px;
	/*border:3px solid black; /*Reference border*/
}

/* SKILLS */

#SKILLSsection ul{
	float:left;
	font-family: Cambria;
	font-size: 40px;
	list-style: none;
	margin:0;
	margin-left: 50px;
	text-align:right;
}

#SKILLSsection li{
	padding:15.75px 0px;
}




#skillsLevels{
	float:right;
	width:35%;
	padding:40px;
	padding-top: 25px;
	margin-right:60px;
}

/* ASSETS */

#ATTRIBUTESsection ul{
	margin:10px 40px;
	margin-bottom:30px;
}

#ATTRIBUTESsection li{
	font-family: Cambria;
	font-size: 30px;
}

/* INTERESTS */

#INTERESTSsection ul{
	margin:10px 40px;
	margin-bottom:30px;
}

#INTERESTSsection li{
	font-family: Cambria;
	font-size: 30px;
}