#timeline_line{
    border-radius: 15px;
    width: 30px;
    height: 900px;
    background: red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: auto;
    padding: 5% 0;
  }

#timeline_point{

    border-radius: 50%;
    border: red 10px solid;
    background: white;
    width: 40px;
    height: 40px;

  }