body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

/* Timeline */

#timeline_line{
    border-radius: 15px;
    width: 30px;
    height: 900px;
    background: red;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin: 50px;
    padding: 5% 0;
  }

#timeline_point{

    border-radius: 50%;
    border: red 10px solid;
    background: white;
    width: 40px;
    height: 40px;

  }

/* Skillgrid */

#SKILLS_SECTION{
  /* width: 400px;
  height: 660px; */
  background: blue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skillgrid{
/* width: 400px;
height: 660px; */
background: green;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.skillbar{
    display:flex;
    flex-direction: row;

    width: 100%;
    background: purple;
  }

.filled_skillpoint{
    border: solid red 5px;
    border-radius: 50%;
    background: red;

    height: 40px;
    width: 40px;
    margin: 10px;
  }

.unfilled_skillpoint{
    border: solid red 5px;
    border-radius: 50%;
    background: yellow;

    height: 40px;
    width: 40px;
    margin: 10px;
}

.halffilled_skillpoint{
  border: solid red 5px;
  border-radius: 50%;
  background: orange;

  height: 40px;
  width: 40px;
  margin: 10px;
}

/* Skillgrid 2.0 */

#skillgrid2{
  /* width: 400px;
  height: 660px; */
  background: blue;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skillgrid2_pallette{
  /* width: 400px;
  height: 660px; */
  background: blue;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill_label {

  min-width: 60px;
  padding: 0 10px;

  font-size: 20px;
  text-align: center;

}

#add_remove {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.add_remove_skillbar {
  height: 20px;
  width: 20px;
  margin: 5px 0;
  border: none;
  background: none;
  padding: 0;
  outline: none;

  /* (Flex child of add-remove) */

  cursor: pointer;
}

.add_remove_skillbar svg {
  height: 100%;
  width: 100%;
}


/* Learning */

#learning_js {
    width: 100px;
    background: green;
}